# Игнорировать все файлы .env
**/*.env

# Игнорировать все директории .idea
**/.idea

# Игнорировать все директории venv
**/venv

# Игнорировать файлы .pyc, создаваемые Python
**/*.pyc

# Игнорировать директории __pycache__, создаваемые Python
**/__pycache__/

# Игнорировать файлы .DS_Store, создаваемые операционной системой macOS
**/.DS_Store

# Игнорировать файлы Thumbs.db, создаваемые операционной системой Windows
**/Thumbs.db


#001_Flask/venv
#001_Flask/.env
#001_Flask/.idea
#
#002_Flask/venv
#002_Flask/.env
#002_Flask/.idea
#
#003_Flask/venv
#003_Flask/.env
#003_Flask/.idea
#
#004_Flask/venv
#004_Flask/.env
#004_Flask/.idea

