{% extends 'base.html' %}

{% block title %}
Створити Users
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Добавление нового пользователя</h2>
            <form method="post">
                <div class="form-group row">
                    <label for="email" class="col-sm-3 col-form-label">Email:</label>
                    <div class="col-sm-9">
                        <input type="email" name="email" id="email" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="username" class="col-sm-3 col-form-label">Username:</label>
                    <div class="col-sm-9">
                        <input type="text" name="username" id="username" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password_hash" class="col-sm-3 col-form-label">Password:</label>
                    <div class="col-sm-9">
                        <input type="password" name="password_hash" id="password_hash" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="created_at" class="col-sm-3 col-form-label">Created At:</label>
                    <div class="col-sm-9">
                        <input type="datetime-local" name="created_at" id="created_at" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="login_count" class="col-sm-3 col-form-label">Login Count:</label>
                    <div class="col-sm-9">
                        <input type="number" name="login_count" id="login_count" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="last_login" class="col-sm-3 col-form-label">Last Login:</label>
                    <div class="col-sm-9">
                        <input type="datetime-local" name="last_login" id="last_login" class="form-control"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="is_admin" class="col-sm-3 col-form-label">Is Admin:</label>
                    <div class="col-sm-9">
                        <select name="is_admin" id="is_admin" class="form-control">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="first_name" class="col-sm-3 col-form-label">First Name:</label>
                    <div class="col-sm-9">
                        <input type="text" name="first_name" id="first_name" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="last_name" class="col-sm-3 col-form-label">Last Name:</label>
                    <div class="col-sm-9">
                        <input type="text" name="last_name" id="last_name" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="date_of_birth" class="col-sm-3 col-form-label">Date of Birth:</label>
                    <div class="col-sm-9">
                        <input type="date" name="date_of_birth" id="date_of_birth" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="avatar_url" class="col-sm-3 col-form-label">Avatar URL:</label>
                    <div class="col-sm-9">
                        <input type="url" name="avatar_url" id="avatar_url" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone_number" class="col-sm-3 col-form-label">Phone Number:</label>
                    <div class="col-sm-9">
                        <input type="tel" name="phone_number" id="phone_number" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="is_active" class="col-sm-3 col-form-label">Is Active:</label>
                    <div class="col-sm-9">
                        <select name="is_active" id="is_active" class="form-control">
                            <option value="True" selected>True</option>
                            <option value="False">False</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="is_verified" class="col-sm-3 col-form-label">Is Verified:</label>
                    <div class="col-sm-9">
                        <select name="is_verified" id="is_verified" class="form-control">
                            <option value="True" selected>True</option>
                            <option value="False">False</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="country" class="col-sm-3 col-form-label">Country:</label>
                    <div class="col-sm-9">
                        <input type="text" name="country" id="country" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="city" class="col-sm-3 col-form-label">City:</label>
                    <div class="col-sm-9">
                        <input type="text" name="city" id="city" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="address" class="col-sm-3 col-form-label">Address:</label>
                    <div class="col-sm-9">
                        <input type="text" name="address" id="address" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="registration_ip" class="col-sm-3 col-form-label">Registration IP:</label>
                    <div class="col-sm-9">
                        <input type="text" name="registration_ip" id="registration_ip" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="last_ip" class="col-sm-3 col-form-label">Last IP:</label>
                    <div class="col-sm-9">
                        <input type="text" name="last_ip" id="last_ip" class="form-control"/>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">Создать</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

