{% extends 'hw_base.html' %}
<!--# Указывает, что этот шаблон расширяет другой шаблон (hw_base.html)-->

{% block title %}
List of users
{% endblock %}


{% block content %}
<div class="container mt-5"> {# Открывающий тег для контейнера с классом "container" и отступом сверху 5 #}
    <h1> List of users </h1>
    {% for user in users %}
    <div class="alert alert-info">
        <h2>{{ user.email }}</h2>
        <p>{{ user.username }}</p> {# Параграф#}
        <p>{{ user.password_hash }}</p>
        <p><b>Дата та час створення:{{ user.created_at }}</b></p>
        <a href="/hw_users/{{ user.id }}" class="btn btn-dark">Детальніше</a>
    </div>
    {% endfor %}
</div>

{% endblock %}

