/* Налаштування для тіла сторінки */
body {
    /* Встановлює фоновий колір для всього тіла сторінки */
    background: Linen;
    /* Встановлює відступ зверху для всього тіла сторінки розміром 50 пікселів */
    margin-top: 50px;
    /* Встановлює відступ зліва для всього тіла сторінки розміром 100 пікселів */
    margin-left: 100px;
}

/* Налаштування для заголовків першого рівня */
h1 {
    /* Встановлює шрифт для заголовків першого рівня */
    font-family: Verdana, Geneva, sans-serif;
    /* Встановлює розмір шрифту для заголовків першого рівня */
    font-size: 2.5em;
    /* Встановлює колір тексту для заголовків першого рівня */
    color: FireBrick;
}

/* Налаштування для абзаців */
p {
    /* Встановлює шрифт для абзаців */
    font-family: Georgia, serif;
    /* Встановлює розмір шрифту для абзаців */
    font-size: 1.2em;
    /* Встановлює колір тексту для абзаців */
    color: DarkSlateGray;
}
